
body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }
.header {
    /* font-family: Roboto, Georgia, 'Times New Roman', Times, serif; */
    font-size: 24px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.right-link {
  display:flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px;  
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section {
  display: flex;
  background-color: #1F2937;
  justify-content:space-evenly;
  align-items: center;
  padding: 100px;
  gap: 24px;
}

.hero-title {
  color: #f9faf8;
  /* font-family: Roboto, sans-serif; */
  font-size: 48px;
  font-weight: bolder;
}

.hero-subtitle {
  color: #e5e7eb;
  /* font-family: Roboto, sans-serif; */
  font-size: 18px;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #e5e7eb;
  border: none;
  border-radius: 8px;
  background: #3882F6;
  padding: 8px 20px;
  margin-top: 16px;

}
.hero-left {
  width: 400px; 
}

